- name: Install Nginx and Certbot
  apt:
    name:
      - nginx
      - python3-certbot-nginx
    state: present

- name: Ensure nginx is running
  service:
    name: nginx
    state: started
    enabled: true
