---
- name: Update apt cache and install Docker
  apt:
    name:
      - docker.io
      - docker-compose
    state: present
    update_cache: yes
    cache_valid_time: 3600

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes